/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wgth' var(--main-font-wgth);
}

.section-inline-size {
  max-inline-size: var(--inline-size);
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header {
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  margin: 100px auto;
  font-family: var(--accent-font), monospace;
  text-align: center;
  text-transform: uppercase;
}

.header__logo {
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin: 25px 0 22px;
  font-size: 0.875rem;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  inline-size: fit-content;
  text-align: start;
  padding-inline-start: clamp(9.625rem, 6.0819rem + 15.1174vw, 19.6875rem);;
}

.theme-menu__button {
  text-transform: uppercase;
  opacity: 1;
  transition: opacity .3s ease;
}

.theme-menu__button:hover {
  opacity: .6;
  transition: opacity .3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: .6;
  transition: opacity .3s ease;
}

.theme-menu__button::after {  /* текст скачет */
  content: '';
  display: block;
  margin-block-start: .1em;
  inline-size: 100%;
  block-size: .1em;
  background-color: var(--text-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transform-origin: left;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: .6;
  transition: opacity .3s ease;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -1.25rem;
  animation: arow-moving .5s ease-in-out infinite alternate-reverse;
}

.content {
  margin: 100px auto;
}

.content__card {
  margin-block-end: 50px;
  font-size: 1.125rem;
  line-height: 1.16667;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
}

.content__card-title {
  padding: 5px 10px;
  font-size: inherit;
  font-variation-settings: 'wgth' var(--title-font-wght);
  line-height: 1.2;
}

.content__card-image-wrapper {
  position: relative;
}

.content__card-image-label {
  position: absolute;
  inset-block-start: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  font-family: var(--accent-font), monospace;
  font-size: 0.875rem;
  line-height: 1.2;
  text-shadow:
  -1px 0 var(--text-stroke-color),
    0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color),
    0 -1px var(--text-stroke-color);
  opacity: .5;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
}

@supports((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {  /* в темной теме плохо отображается*/
  .content__card-image-label {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-stroke-color);
    border: none;
  }
}

.content__card-image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-block-start: 2px solid var(--text-color);
  border-block-end: 2px solid var(--text-color);
}

.path {
  filter: contrast(1.5);
}

.flowers {
  filter: saturate(1.6);
}

.on_the_top {
    filter: contrast(1.8);
}

.rose {
  filter: sepia(0.7);
}

.monkeys {
  filter: grayscale(0.7) brightness(1.7);
  object-position: center;
}

.headphones {
  filter: hue-rotate(90deg);
  object-position: right;
}

.quay {
  filter: brightness(1.8);
}

.hourglass {
  filter: blur(2px);
  object-position: top;
}

.content__card-content {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  padding: 1.5625rem;
}

.content__card-text {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  letter-spacing: 0.04em;
}

.content__icons {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  transition: border .3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
  transition: border .3s ease;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill .3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill .3s linear;
}

.main-body {
  fill: transparent;
  transition: fill .3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill .3s linear 0.05s;
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--heart-fill);
  transition: fill .3s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-fill);
  transition: fill .3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill);
  transition: fill .3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill);
  transition: fill .3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale .3s ease-in .1s 2 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-appearance .3s ease-in .3s 2 alternate;
}

.content__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 0 transparent;
  transition: box-shadow 0.3s ease;
  border: 2px solid var(--text-color);
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 17px 9px 14px;
}

.content__save-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  inline-size: clamp(19.375rem, 18.7148rem + 2.8169vw, 21.25rem);
  margin: 0 auto;
  padding: 15px 0;
  background-color: var(--bg-color);
  color: var(--button-text-color);
}

.button__text {
  font-size: 0.875rem;
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  line-height: 0.9;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.card__like-button .button__text {
  inline-size: 6.93em;
}

.floppy {
  inline-size: 28px;
  block-size: 28px;
  mix-blend-mode: difference;
}

.content__button:focus {
  outline: none;
}

.content__button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color);
  transition: box-shadow 0.3s ease;
}

.content__button::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--text-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s ease-in-out;
}

.content__button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform .5s ease-in-out;
}

.popup-save {
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  padding: 28px 38px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.popup-save::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.popup-save__content {
  display: flex;
  gap: 1.25rem;
}

.popup-save__floppy-wrapper {
  inline-size: 39px;
  block-size: 39px;
  align-self: center;
}

.popup-save__floppy {
  inline-size: 39px;
  block-size: 39px;
}

.popup-save__text {
  font-family: var(--accent-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.popup-save__button {
  inline-size: 100%;
  padding: 9px 17px;
  margin-block-start: 30px;
  text-transform: uppercase;
}


@media (min-width: 376px) {
  .content__save-button {
    flex-direction: row;
  }

  .floppy {
    inline-size: 21px;
    block-size: 21px;
  }

  .popup-save {
    padding: 28px;
  }
}
