/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wgth' var(--main-font-wgth);
}

.section-inline-size {
  max-inline-size: var(--inline-size);
}

.header {
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  margin: 102px auto 104px;    /* относительные единицы? */
  text-align: center;
  font-family: var(--accent-font), monospace;
}

.header__logo {
  text-transform: uppercase;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin: 25px 0;
  font-size: 0.875rem;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  inline-size: fit-content;
  text-align: start;
  margin: 0 auto;
}

.theme-menu__button,
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -1em;
}

.content {
  margin: 0 auto;
}

.content__card {
  border: 2px solid var(--text-color);
  font-size: 1.125rem;
  background-color: var(--bg-color);
  margin-block-end: 54px;
}

.content__card-title {
  max-inline-size: 80%;
  padding: 5px 10px;
  font-size: inherit;
  font-weight: var(--title-font-wght);
  line-height: 1.2;
}

.content__card-image {
  inline-size: 100%;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.content__card-text {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1.5624rem;  /* слева отступ больше */
}

.content__icons {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  padding: 1.5624rem;
}

.card__like-button {
  padding: 9px 27px;
  border: 2px solid var(--text-color);
}

.button__text {
  font-size: 0.875rem;
  font-family: var(--accent-font);
  font-weight: 400;
  line-height: 0.9;
}

.footer {
  max-inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  margin: 0 auto 102px;
}

.footer-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  padding: 15px 20px;

}

