/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-color: #fff;
  --text-color: #000;
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --main-font-wght: 400;
  --title-font-wght: 700;
}
