/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-color: #fff;
  --bg-image:
      repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
      linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --inline-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  --text-color: #000;
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --main-font-wght: 400;
  --title-font-wght: 700;
  --text-stroke-color: #fff;
  --button-text-color: #fff;
}
